<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head></head>
<body bgcolor="white">
Property Descriptors. 

<h2>Package Specification</h2>

<p>
Property descriptors are visual entries that are put in the properties view that determine how the property should be displayed and edited. See DevDocProperties for more information.

</p>
<h2>Related Documentation</h2>
For overviews, tutorials, examples, guides, and tool documentation, please see:
@see seg.jUCMNav.views.property.EObjectPropertySource
</body>
</html>
