<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="seg.jUCMNav"
   name="JUCMNav Plug-in"
   version="1.0.0"
   provider-name=""
   class="seg.jUCMNav.JUCMNavPlugin">

   <runtime>
      <library name="jUCMNav.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.junit"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/icon16.gif"
            class="seg.jUCMNav.editors.UCMNavMultiPageEditor"
            default="false"
            name="seg.jUCMNav.MainEditor"
            contributorClass="seg.jUCMNav.editors.actionContributors.UCMActionBarContributor"
            id="seg.jUCMNav.MainEditor"
            extensions="ucm"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="seg.jUCMNav.MainEditor"
            id="seg.jUCMNav.editorContribution1">
         <action
               class="seg.jUCMNav.actions.AutoLayoutAction"
               tooltip="Auto Layout"
               id="seg.jUCMNav.AutoLayout"
               disabledIcon="src/seg/jUCMNav/icons/Node16.gif"
               hoverIcon="src/seg/jUCMNav/icons/Node16.gif"
               toolbarPath="jUCMNav"
               label="Auto Layout"
               icon="src/seg/jUCMNav/icons/Node16.gif"
               style="push"
               actionID="seg.jUCMNav.actions.AutoLayoutAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="seg.jUCMNav.views.UCMPerspectiveFactory"
            icon="icons/icon16.gif"
            name="JUCMNav"
            id="seg.jUCMNav.UCMEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="JUCMNav"
            id="seg.jUCMNav"/>
      <wizard
            finalPerspective="seg.jUCMNav.UCMEditor"
            class="seg.jUCMNav.views.wizards.NewUcmFileWizard"
            icon="icons/icon16.gif"
            descriptionImage="icons/perspectiveIcon.gif"
            category="seg.jUCMNav"
            name="UCM file"
            id="seg.jUCMNav.views.wizards.NewUcmFileWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.TaskList"
               id="seg.jUCMNav.views.ResponsibilityView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="JUCMNav"
            id="seg.jUCMNav"/>
      <view
            class="seg.jUCMNav.views.ResponsibilityView"
            icon="icons/Resp16.gif"
            category="seg.jUCMNav"
            name="Responsibilities"
            id="seg.jUCMNav.views.ResponsibilityView"/>
   </extension>

</plugin>
