<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="seg.jUCMNav"
   name="jUCMNav"
   version="1.1.1"
   provider-name="UseCaseMaps.org"
   class="seg.jUCMNav.JUCMNavPlugin">

   <runtime>
      <library name="jUCMNav.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>
   <extension-point id="UseCaseMapExport" name="Use Case Map Export" schema="schema/UseCaseMapExport.exsd"/>
   <extension-point id="URNExport" name="URN Export" schema="schema/URNExport.exsd"/>
   <extension-point id="URNImport" name="URN Import" schema="schema/URNImport.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/icon16.gif"
            class="seg.jUCMNav.editors.UCMNavMultiPageEditor"
            default="false"
            name="seg.jUCMNav.MainEditor"
            contributorClass="seg.jUCMNav.editors.actionContributors.UCMActionBarContributor"
            id="seg.jUCMNav.MainEditor"
            extensions="jucm"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="seg.jUCMNav.MainEditor"
            id="seg.jUCMNav.editorContribution1">
         <action
               toolbarPath="jUCMNav"
               label="%autoLayout"
               class="seg.jUCMNav.actions.AutoLayoutActionDelegate"
               tooltip="%autoLayout"
               icon="icons/Node16.gif"
               style="push"
               menubarPath="seg.jUCMNav/ext"
               id="seg.jUCMNav.AutoLayout"
               actionID="seg.jUCMNav.actions.AutoLayoutActionDelegate">
         </action>
         <menu
               label="jUCMNav"
               id="seg.jUCMNav">
            <separator name="ext"/>
         </menu>
         <action
               actionID="seg.jUCMNav.actions.AddMapAction"
               class="seg.jUCMNav.actions.UCMActionDelegate"
               icon="icons/icon16.gif"
               id="seg.jUCMNav.AddMap"
               label="%AddUseCaseMap"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%AddUseCaseMap"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="seg.jUCMNav.views.UCMPerspectiveFactory"
            icon="icons/icon16.gif"
            name="jUCMNav"
            id="seg.jUCMNav.UCMEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="jUCMNav"
            id="seg.jUCMNav"/>
      <wizard
            finalPerspective="seg.jUCMNav.UCMEditor"
            class="seg.jUCMNav.views.wizards.NewUcmFileWizard"
            icon="icons/icon16.gif"
            descriptionImage="icons/perspectiveIcon.gif"
            category="seg.jUCMNav"
            name="Use Case Map"
            id="seg.jUCMNav.views.wizards.NewUcmFileWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.TaskList"
               id="seg.jUCMNav.views.ResponsibilityView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="jUCMNav"
            id="seg.jUCMNav"/>
      <view
            class="seg.jUCMNav.views.resp.ResponsibilityView"
            icon="icons/Resp16.gif"
            category="seg.jUCMNav"
            name="%responsibility"
            id="seg.jUCMNav.views.ResponsibilityView"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="help.xml" primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/perspectiveIcon.gif"
            class="seg.jUCMNav.views.wizards.importexport.ExportWizard"
            name="%exportToImage"
            id="seg.jUCMNav.views.wizards.importexport.ExportWizard">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.jucm"/>
      </wizard>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ExportImage"
         name="%exportToImage"
         point="seg.jUCMNav.UseCaseMapExport">
      <exporter
            class="seg.jUCMNav.importexport.ExportLayoutDOT"
            extension="dot"
            id="seg.jUCMNav.ExportDOT"
            mode="model instance"
            name="%ExportDOT"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImageJPG"
            extension="jpg"
            id="seg.jUCMNav.ExportJPG"
            mode="image"
            name="%ExportJPG"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImageBMP"
            extension="bmp"
            id="seg.jUCMNav.ExportBMP"
            mode="image"
            name="%ExportBMP"
            useStream="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.AutoLayoutPreferencePage"
            id="seg.jUCMNav.views.preferences.AutoLayoutPreferencePage"
            name="%AutolayoutPreferences"/>
      <page
            class="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            id="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            name="%jUCMNavPreferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="seg.jUCMNav.views.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ExportURN"
         name="%exportToImage"
         point="seg.jUCMNav.URNExport">
      <exporter
            class="seg.jUCMNav.importexport.ExportDXL"
            extension="dxl"
            id="seg.jUCMNav.ExportDXL"
            name="%ExportDXL"
            useStream="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="seg.jUCMNav.views.wizards.importexport.ImportWizard"
            icon="icons/perspectiveIcon.gif"
            id="seg.jUCMNav.views.wizards.importexport.ImportWizard"
            name="%import"/>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ImportURN"
         name="%import"
         point="seg.jUCMNav.URNImport">
   </extension>

</plugin>
