<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="UseCaseMapExport" name="%UseCaseMapExport" schema="schema/UseCaseMapExport.exsd"/>
   <extension-point id="URNExport" name="%UrnExport" schema="schema/URNExport.exsd"/>
   <extension-point id="URNImport" name="%UrnImport" schema="schema/URNImport.exsd"/>
   <extension-point id="GRLStrategyAlgorithm" name="%GrlStrategyAlgorithm" schema="schema/GRLStrategyAlgorithm.exsd"/>
   <extension-point id="URNReport" name="%UrnReport" schema="schema/URNReport.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="seg.jUCMNav.editors.UCMNavMultiPageEditor"
            contributorClass="seg.jUCMNav.editors.actionContributors.UCMActionBarContributor"
            default="true"
            extensions="jucm"
            icon="icons/urn16.gif"
            id="seg.jUCMNav.MainEditor"
            name="jUCMNav"/>
   </extension>
   <extension
   
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="seg.jUCMNav.MainEditor"
            id="seg.jUCMNav.editorContribution1">
         <action
               toolbarPath="jUCMNav"
               label="%autoLayout"
               class="seg.jUCMNav.actions.AutoLayoutActionDelegate"
               tooltip="%autoLayout"
               icon="icons/autolayout.gif"
               style="push"
               menubarPath="seg.jUCMNav/ext"
               id="seg.jUCMNav.AutoLayout"
               actionID="seg.jUCMNav.actions.AutoLayoutActionDelegate">
         </action>
         <menu
               label="jUCMNav"
               id="seg.jUCMNav">
            <separator name="ext"/>
         </menu>
         <action
               actionID="seg.jUCMNav.actions.SwitchModelLanguageDelegate"
               class="seg.jUCMNav.actions.SwitchModelLanguageDelegate"
               id="seg.jUCMNav.actions.SwitchModelLanguageDelegate"
               icon="icons/SwitchModelLanguage.gif"
               label="%SwitchModelLanguage"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%SwitchLanguage">
         </action>
   <action
         actionID="seg.jUCMNav.actions.AdvancedModeActionDelegate"
         class="seg.jUCMNav.actions.AdvancedModeActionDelegate"
         icon="icons/advanced.gif"
         id="seg.jUCMNav.AdvancedMode"
         label="jUCMNav Advanced Mode"
         menubarPath="seg.jUCMNav/ext"
         style="toggle"
         toolbarPath="jUCMNav"
         tooltip="Toggle jUCMNav&apos;s advanced mode. ">
   </action>   
         <action
               actionID="seg.jUCMNav.actions.AddStereotypeDefinitionsAction"
               class="seg.jUCMNav.actions.UCMActionDelegate"
               icon="src/seg/jUCMNav/icons/Metadata.gif"
               id="seg.jUCMNav.AddStereotypeDefinitions"
               label="%AddStereotypeDefinitions"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%AddStereotypeDefinitions"/>
         <action
               actionID="seg.jUCMNav.actions.scenarios.VerifySyntaxActionDelegate"
               class="seg.jUCMNav.actions.scenarios.VerifySyntaxActionDelegate"
               icon="icons/syntax.gif"
               id="seg.jUCMNav.actions.scenarios.VerifySyntaxActionDelegate"
               label="%VerifyPseudoCodeSyntax"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%VerifySyntax"/>
		 <action
               actionID="seg.jUCMNav.actions.staticSemantic.VerifyStaticSemanticDelegate"
               class="seg.jUCMNav.actions.staticSemantic.VerifyStaticSemanticDelegate"
               icon="icons/ocl.gif"
               id="seg.jUCMNav.actions.staticAnalysis.VerifyStaticSemanticDelegate"
               label="%VerifyStaticSemantics"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%VerifyStaticSemantics"/>
   <action
         actionID="seg.jUCMNav.actions.matrics.CalculateMatricsActionDelegate"
         class="seg.jUCMNav.actions.metrics.CalculateMetricsActionDelegate"
         icon="icons/metrics.gif"
         id="seg.jUCMNav.actions.matrics.CalculateMatricsActionDelegate"
         label="%CalculateMetrics"
         menubarPath="seg.jUCMnav/ext"
         style="push"
         tooltip="%CalculateMetrics">
   </action>
         <action
               actionID="seg.jUCMNav.actions.AddMapAction"
               class="seg.jUCMNav.actions.UCMActionDelegate"
               icon="icons/ucm16.gif"
               id="seg.jUCMNav.AddMap"
               label="%AddUseCaseMap"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%AddUseCaseMap"/>
         <action
               actionID="seg.jUCMNav.actions.AddGrlGraphAction"
               class="seg.jUCMNav.actions.UCMActionDelegate"
               icon="icons/grl16.gif"
               id="seg.jUCMNav.AddGrlGraph"
               label="%AddGrlDiagram"
               menubarPath="seg.jUCMnav/ext"
               style="push"
               tooltip="%AddGrlDiagram"/>
   <action
         actionID="seg.jUCMNav.actions.GeneralPreferencesActionDelegate"
         class="seg.jUCMNav.actions.GeneralPreferencesActionDelegate"
         icon="icons/icon16.gif"
         id="seg.jUCMNav.GeneralPreferences"
         label="Edit jUCMNav Preferences"
         menubarPath="seg.jUCMNav/ext"
         style="push"
         toolbarPath="jUCMNav"
         tooltip="Edit jUCMNav&apos;s preferences. ">
   </action>
               
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="seg.jUCMNav.views.UCMPerspectiveFactory"
            icon="icons/icon16.gif"
            id="seg.jUCMNav.UCMEditor"
            name="jUCMNav"/>
      <perspective
            class="seg.jUCMNav.views.UCMPerspectiveFactoryExecution"
            icon="icons/urnstratscenon16.gif"
            id="seg.jUCMNav.UCMEditorExecution"
            name="%jUCMNavExecution"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="jUCMNav"
            id="seg.jUCMNav"/>
      <wizard
            category="seg.jUCMNav"
            class="seg.jUCMNav.views.wizards.NewUcmFileWizard"
            descriptionImage="icons/perspectiveIcon.gif"
            finalPerspective="seg.jUCMNav.UCMEditor"
            icon="icons/icon16.gif"
            id="seg.jUCMNav.views.wizards.NewUcmFileWizard"
            name="%UseCaseMapGrlGraph"
            preferredPerspectives="seg.jUCMNav.UCMEditor"
            project="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="seg.jUCMNav.UCMEditor">
         <viewShortcut id="seg.jUCMNav.views.ElementView"/>
         <viewShortcut id="seg.jUCMNav.views.StrategiesView"/>
         <newWizardShortcut id="seg.jUCMNav.views.wizards.NewUcmFileWizard"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/>
         <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
         <viewShortcut id="seg.jUCMNav.views.KPIListView"/>
         <viewShortcut id="seg.jUCMNav.views.KPIView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="seg.jUCMNav.UCMEditorExecution">
         <viewShortcut id="seg.jUCMNav.views.ElementView"/>
         <viewShortcut id="seg.jUCMNav.views.StrategiesView"/>
         <newWizardShortcut id="seg.jUCMNav.views.wizards.NewUcmFileWizard"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/>
         <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="jUCMNav"
            id="seg.jUCMNav"/>
      <view
            class="seg.jUCMNav.views.elements.ElementView"
            icon="icons/Resp16.gif"
            category="seg.jUCMNav"
            name="%Elements"
            id="seg.jUCMNav.views.ElementView"/>
      <view
            category="seg.jUCMNav"
            class="seg.jUCMNav.views.strategies.StrategiesView"
            icon="icons/urnstratscenon16.gif"
            id="seg.jUCMNav.views.StrategiesView"
            name="%Strategies"/>
      <view
            category="seg.jUCMNav"
            class="seg.jUCMNav.views.kpi.KPIListView"
            icon="icons/KPIView.gif"
            id="seg.jUCMNav.views.KPIListView"
            name="%KPIList"/>
      <view
            category="seg.jUCMNav"
            class="seg.jUCMNav.views.kpi.KPIView"
            icon="icons/KPIView.gif"
            id="seg.jUCMNav.views.KPIView"
            name="%KPI"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="help.xml" primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/perspectiveIcon.gif"
            class="seg.jUCMNav.views.wizards.importexport.ExportWizard"
            name="%exportToImage"
            id="seg.jUCMNav.views.wizards.importexport.ExportWizard">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.jucm"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/report16.gif"
            class="seg.jUCMNav.views.wizards.importexport.ReportWizard"
            name="%UrnReport"
            id="seg.jUCMNav.views.wizards.importexport.ReportWizard">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.jucm"/>
      </wizard>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ExportImage"
         name="%exportToImage"
         point="seg.jUCMNav.UseCaseMapExport">
      <exporter
            class="seg.jUCMNav.importexport.ExportLayoutDOT"
            extension="dot"
            id="seg.jUCMNav.ExportDOT"
            mode="model instance"
            name="%ExportDOT"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImageJPG"
            extension="jpg"
            id="seg.jUCMNav.ExportJPG"
            mode="image"
            name="%ExportJPG"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImageBMP"
            extension="bmp"
            id="seg.jUCMNav.ExportBMP"
            mode="image"
            name="%ExportBMP"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImageGIF"
            extension="gif"
            id="seg.jUCMNav.ExportGIF"
            mode="image"
            name="%ExportGIF"
            useStream="true"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportImagePNG"
            extension="png"
            id="seg.jUCMNav.ExportPNG"
            mode="image"
            name="%ExportPNG"
            useStream="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.AutoLayoutPreferencePage"
            id="seg.jUCMNav.views.preferences.AutoLayoutPreferencePage"
            name="%AutolayoutPreferences"/>
      <page
            class="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            id="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            name="%jUCMNavPreferences"/>
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.ScenarioTraversalPreferencePage"
            id="seg.jUCMNav.views.preferences.ScenarioTraversalPreferencePage"
            name="%UCMScenarioTraversalAlgorithm"/>
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.StrategyEvaluationPreferencePage"
            id="seg.jUCMNav.views.preferences.StrategyEvaluationPreferencePage"
            name="%GrlStrategyEvaluationAlgorithm"/>
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.ScenarioExportPreferencePage"
            id="seg.jUCMNav.views.preferences.ScenarioExportPreferencePage"
            name="%ScenarioExportPreferences"/>
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.KPIMonitoringPreferencePage"
            id="seg.jUCMNav.views.preferences.KPIMonitoringPreferencePage"
            name="%KPIMonitoringPreferences"/>
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.ReportGeneratorPreferencePage"
            id="seg.jUCMNav.views.preferences.ReportGeneratorPreferencePage"
            name="%ReportGeneratorPreferences"/>
	  <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.staticSemantic.StaticSemanticPreferencePage"
            id="seg.jUCMNav.views.preferences.StaticSemanticPreferencesPage"
            name="%StaticSemanticPreferences"/>
	  <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="seg.jUCMNav.views.preferences.DisplayPreferencesPage"
            id="seg.jUCMNav.views.preferences.DisplayPreferencesPage"
            name="Outline Preferences"/>            
   <page
         category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
         class="seg.jUCMNav.views.preferences.metrics.MetricsPreferencePage"
         id="seg.jUCMNav.views.preferences.metrics.MetricsPreferencePage"
         name="%MetricsPreference">
   </page>
   <page
         category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
         class="seg.jUCMNav.views.preferences.DefinitionReferencePreferencePage"
         id="seg.jUCMNav.views.preferences.DefinitionReferencePreferencePage"
         name="Reference/Definition Preferences">
   </page>
   <page
         category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
         class="seg.jUCMNav.views.preferences.ColorManagementPreferencePage"
         id="seg.jUCMNav.views.preferences.ColorManagementPreferencePage"
         name="Color Preferences">
   </page>
      </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="seg.jUCMNav.views.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ExportURN"
         name="%exportToImage"
         point="seg.jUCMNav.URNExport">
      <exporter
            class="seg.jUCMNav.importexport.msc.ExportMSC"
            extension="jucmscenarios"
            id="seg.jUCMNav.ExportScenarios"
            name="%ExportScenarios"
            useStream="false"/>
      <exporter
            class="seg.jUCMNav.importexport.tdl.ExportTDL"
            extension="tdl"
            id="seg.jUCMNav.ExportTdl"
            name="Test Description Language (.tdl)"
            useStream="false"/>    
      <exporter
            class="seg.jUCMNav.importexport.ExportDXL"
            extension="dxl"
            id="seg.jUCMNav.ExportDXL"
            name="%ExportDXL"
            postExporter="seg.jUCMNav.ExportBMP"
            useStream="false"/>
      <exporter
            class="seg.jUCMNav.importexport.csm.ExportCSM"
            extension="csm"
            id="seg.jUCMNav.ExportCSM"
            name="%ExportCSM"
            useStream="false"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportGRLCatalog"
            extension="grl"
            id="seg.jUCMNav.ExportGRLCatalog"
            name="%GRLCatalog"
            useStream="false"/>
      <exporter
            class="seg.jUCMNav.importexport.ExportCSV"
            extension="csv"
            id="seg.jUCMNav.ExportCSV"
            name="%ExportCSV"
            useStream="false"/>
       <exporter
            class="seg.jUCMNav.importexport.z151.ExportZ151"
            extension="z151"
            id="seg.jUCMNav.ExportZ151"
            name="%Z151"
            useStream="false"/>
       <exporter
            class="seg.jUCMNav.importexport.ExportStereotypeDefs"
            extension="csv"
            id="seg.jUCMNav.ExportStereotypeDefs"
            name="%StereotypeDefs"
            useStream="false"/>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.URNReport"
         name="%UrnReport"
         point="seg.jUCMNav.URNReport">
       <exporter
            class="seg.jUCMNav.importexport.reports.PDFReport"
            extension="pdf"
            id="seg.jUCMNav.PDFReport"
            name="%PDFReport"
            useStream="false"/>
       <exporter
            class="seg.jUCMNav.importexport.reports.RTFReport"
            extension="rtf"
            id="seg.jUCMNav.RTFReport"
            name="%RTFReport"
            useStream="false"/>
      <exporter
            class="seg.jUCMNav.importexport.html.HTMLReport"
            extension="html"
            id="seg.jUCMNav.HTMLReport"
            name="%HTMLReport"
            useStream="false"/>
    </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="seg.jUCMNav.views.wizards.importexport.ImportWizard"
            icon="icons/perspectiveIcon.gif"
            id="seg.jUCMNav.views.wizards.importexport.ImportWizard"
            name="%import"/>
   </extension>
   <extension
         id="seg.jUCMNav.importexport.ImportURN"
         name="%import"
         point="seg.jUCMNav.URNImport">
      <importer
            class="seg.jUCMNav.importexport.ImportGRLCatalog"
            extension="grl"
            id="seg.jUCMNav.ImportGRLCatalog"
            importInSelectedFile="true"
            name="%GRLCatalog"
            useStream="true"/>
      <importer
            class="seg.jUCMNav.importexport.ImportGRLStrategies"
            extension="csv"
            id="seg.jUCMNav.ImportGRLStrategies"
            importInSelectedFile="true"
            name="%GRLStrategies"
            useStream="true"/>
      <importer
            class="seg.jUCMNav.importexport.z151.ImportZ151"
            extension="z151"
            id="seg.jUCMNav.ImportZ151"
            importInSelectedFile="true"
            name="%Z151"
            useStream="true"/>
      <importer
            class="seg.jUCMNav.importexport.ImportStereotypeDefinitions"
            extension="csv"
            id="seg.jUCMNav.ImportStereotypeDefinitions"
            importInSelectedFile="true"
            name="%StereotypeDefs"
            useStream="true"/>
   </extension>
   <extension
         id="seg.jUCMNav.MarkerSupport"
         name="jUCMNav Marker Support"
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory name="seg.jUCMNav.WarningMarker">
            <!-- Next line added by Daniel to remove warning, but I'm really not sure if it's right! -->
      		<markerTypeReference id="org.eclipse.core.resources.problemmarker"/>
      </markerTypeCategory>
      <problemFilter
            enabled="true"
            id="seg.jUCMNav.problemFilter1"
            name="seg.jUCMNav.problemFilter1"
            scope="ON_SELECTED_ONLY"/>
   </extension>
   <extension
         id="jUCMNav.MarkerResolution"
         name="jUCMNav Quick Fix"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="seg.jUCMNav.views.QuickFixer"
            markerType="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help_contexts.xml">
      </contexts>
   </extension>
   <extension
         id="seg.jUCMNav.propertyContributor"
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor contributorId="seg.jUCMNav.MainEditor"
         	typeMapper="seg.jUCMNav.views.property.tabbed.mapper.EditPartTypeMapper">
	         <propertyCategory category="jUCMNav"/>
	      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs contributorId="seg.jUCMNav.MainEditor">
         	<propertyTab
	            category="jUCMNav"
	               id="mview.StandardTab"
	            label="Standard"/>
	         <propertyTab
	         	afterTab="mview.StandardTab"
	            category="jUCMNav"
	               id="mview.MetaDataTab"
	            label="Metadata"/>
	         <propertyTab
	         	afterTab="mview.MetaDataTab"
	            category="jUCMNav"
	               id="mview.StereotypeTab"
	            label="Stereotypes"/>
	         <propertyTab
	         	afterTab="mview.StereotypeTab"
	            category="jUCMNav"
	               id="mview.AdvancedTab"
	            label="Advanced"/>
	      </propertyTabs>
   </extension>
   <extension
         id="seg.jUCMNav.UrnSearchResultPage"
         point="org.eclipse.search.searchResultViewPages">
		 <viewPage
		  id="org.eclipse.search.text.FileSearchResultPage"
		  searchResultClass="seg.jUCMNav.views.search.UrnSearchResult"
		  class="seg.jUCMNav.views.search.UrnTextSearchViewPage">
		 </viewPage>         
   </extension>
   <extension
         id="seg.jUCMNav.UrnSearchPage"
         name="URN Search Page"
         point="org.eclipse.search.searchPages">
		 <page id="org.eclipse.jdt.ui.JavaSearchPage"
				icon="icons/urn16.gif"
				label="URN Search"
				sizeHint="460,160"
				extensions="jucm:1000"
				showScopeSection="false"
				canSearchEnclosingProjects="true"
				enabled="true"
				tabPosition="0"
				class="seg.jUCMNav.views.search.UrnSearchPage">
			</page>         
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections contributorId="seg.jUCMNav.MainEditor">
         	<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.NamePropertySection"
	               id="mview.NamePropertySection"
	               tab="mview.StandardTab">
	               <input type="urncore.URNmodelElement">
		            </input>
	               <input type="urn.URNspec">
		            </input>
	        </propertySection>
         	<propertySection
         			afterSection="mview.NamePropertySection"
	               class="seg.jUCMNav.views.property.tabbed.sections.DescriptionPropertySection"
	               id="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input type="urncore.URNmodelElement">
		            </input>
	               <input type="urn.URNspec">
		            </input>
	               <input type="urncore.Comment">
		            </input>
	        </propertySection>
         	<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.ConditionLabelPropertySection"
	               id="mview.ConditionLabelPropertySection"
	               tab="mview.StandardTab"
	               filter="seg.jUCMNav.views.property.tabbed.filters.ConditionSectionFilter"
	               afterSection="mview.CodeExpressionSection">
	               <input
		                  type="urncore.URNmodelElement">
		            </input>
	        </propertySection>
         	<propertySection
         			afterSection="mview.ConditionLabelPropertySection"
	               class="seg.jUCMNav.views.property.tabbed.sections.ConditionDescriptionPropertySection"
	               id="mview.ConditionDescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="urncore.Condition">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.MetadataPropertySection"
	               id="mview.MetaDataPropertySection"
	               tab="mview.MetaDataTab">
	               <input
		                  type="urncore.URNmodelElement">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.StereotypesPropertySection"
	               id="mview.StereotypesPropertySection"
	               tab="mview.StereotypeTab">
	               <input
		                  type="urn.URNspec">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.ConditionExpressionPropertySection"
	               id="mview.CodeExpressionSection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab"
	               filter="seg.jUCMNav.views.property.tabbed.filters.ConditionSectionFilter">
	               <input
		                  type="urncore.URNmodelElement">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.PreConditionPropertySection"
	               id="mview.PreConditionSection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.StartPoint">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.PostConditionPropertySection"
	               id="mview.PostConditionSection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.EndPoint">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.RespConditionExpressionPropertySection"
	               id="mview.RespConditionExpressionPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.RespRef">
		            </input>
		            <input
		                  type="urncore.Responsibility">
		            </input>
		            <input
		                  type="ucm.map.FailurePoint">
		            </input>		            
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.RepetitionPropertySection"
	               id="mview.RepetitionCountSection"
	               afterSection="mview.CodeExpressionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.RespRef">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.AuthorPropertySection"
	               id="mview.AuthorSection"
	               tab="mview.StandardTab">
	               <input
		                  type="urn.URNspec">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.StubKindPropertySection"
	               id="mview.StubKindPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.Stub">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.ComponentKindPropertySection"
	               id="mview.ComponentKindPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.ComponentRef">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.IntentionalTypePropertySection"
	               id="mview.IntentionalTypePropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="grl.IntentionalElementRef">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.EnumerationValuesPropertySection"
	               id="mview.EnumerationValuesPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.scenario.EnumerationType">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.CollectionIndexPropertySection"
	               id="mview.CollectionIndexPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="urncore.IURNDiagram">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.FailureKindPropertySection"
	               id="mview.FailureKindPropertySection"
	               afterSection="mview.DescriptionSection"
	               tab="mview.StandardTab">
	               <input
		                  type="ucm.map.StartPoint">
		            </input>
	        </propertySection>
			<propertySection
	               class="seg.jUCMNav.views.property.tabbed.sections.AdvancedPropertySection"
	               afterSection="mview.StandardSection"
	               id="mview.AdvancedSection"
	               tab="mview.AdvancedTab">
	               <input
		                  type="org.eclipse.emf.ecore.EObject">
		            </input>
	         </propertySection>
         </propertySections>
   </extension>
   <!-- Suggested by Dominique Blouin in Bug #802, to be able to refer to URN -->
   <!-- meta-model elements from the Eclipse EMF package registry -->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="urn.UrnPackage"
            genModel="archive:platform:/plugin/seg.jUCMNav/jUCMNav.jar!/seg/jUCMNav/emf/URN.genmodel"
            uri="http:///urn.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="urncore.UrncorePackage"
            genModel="archive:platform:/plugin/seg.jUCMNav/jUCMNav.jar!/seg/jUCMNav/emf/URN.genmodel"
            uri="http:///urncore.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="grl.GrlPackage"
            genModel="archive:platform:/plugin/seg.jUCMNav/jUCMNav.jar!/seg/jUCMNav/emf/URN.genmodel"
            uri="http:///grl.ecore">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///grl/kpimodel.ecore"
            class="grl.kpimodel.KpimodelPackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fm -->
      <parser
            type="kpimodel"
            class="grl.kpimodel.util.KpimodelResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="ucm.UcmPackage"
            genModel="archive:platform:/plugin/seg.jUCMNav/jUCMNav.jar!/seg/jUCMNav/emf/URN.genmodel"
            uri="http:///ucm.ecore">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///ucm/performance.ecore"
            class="ucm.performance.PerformancePackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fm -->
      <parser
            type="performance"
            class="ucm.performance.util.PerformanceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///ucm/map.ecore"
            class="ucm.map.MapPackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fm -->
      <parser
            type="map"
            class="ucm.map.util.MapResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///ucm/scenario.ecore"
            class="ucm.scenario.ScenarioPackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fm -->
      <parser
            type="scenario"
            class="ucm.scenario.util.ScenarioResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///asd.ecore"
            class="asd.AsdPackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http:///fm.ecore"
            class="fm.FmPackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated URN -->
      <package
            uri="http://cs.mcgill.ca/sel/core/1.0"
            class="core.CorePackage"
            genModel="src/seg/jUCMNav/emf/URN.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="ucmscenarios.UcmscenariosPackage"
            genModel="archive:platform:/plugin/seg.jUCMNav/jUCMNav.jar!/seg/jUCMNav/emf/UCMscenarios.genmodel"
            uri="http:///ucmscenarios.ecore">
      </package>
   </extension>
	<extension
    	point="org.eclipse.core.contenttype.contentTypes">
	  	<file-association
	      content-type="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
	      file-extensions="jucm"
	      file-names="*"/>
		<file-association
	      content-type="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
	      file-extensions="jucmscenarios"
	      file-names="*"/>
      </extension>   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tdl -->
      <package
            uri="http://www.etsi.org/spec/TDL/20130606"
            class="org.etsi.mts.tdl.TdlPackage"
            genModel="src/tdl.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=PerspectiveSpacer">
         <toolbar
               id="seg.jUCMNav.alignCommandToolbar"
               label="Align">
            <command
                  commandId="seg.jUCMNav.AlignPulldownCommand"
                  icon="icons/AlignLeft.ico"
                  id="seg.jUCMNav.AlignCommandPulldown"
                  label="%Align"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:seg.jUCMNav.AlignCommandPulldown">
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignTop.ico"
               label="%AlignTop"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignTop">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignMiddle.ico"
               label="%AlignMiddle"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignMiddle">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignBottom.ico"
               label="%AlignBottom"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignBottom">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignLeft.ico"
               label="%AlignLeft"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignLeft">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignCenter.ico"
               label="%AlignCenter"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignCenter">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.AlignCommand"
               icon="icons/AlignRight.ico"
               label="%AlignRight"
               style="push">
            <parameter
                  name="seg.jUCMNav.AlignType"
                  value="seg.jUCMNav.AlignRight">
            </parameter>
         </command>
         <separator
               name="seg.jUCMNav.separator1"
               visible="true">
         </separator>
         <command
               commandId="seg.jUCMNav.DistributeCommand"
               icon="icons/DistributeCentersVertically.ico"
               id="Distribute Centers Vertically"
               label="%DistributeCentersVertically"
               style="push">
            <parameter
                  name="seg.jUCMNav.DistributeType"
                  value="seg.jUCMNav.DistributeCentersVertically">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.DistributeCommand"
               icon="icons/DistributeCentersHorizontally.ico"
               id="Distribute Centers Horizontally"
               label="%DistributeCentersHorizontally"
               style="push">
            <parameter
                  name="seg.jUCMNav.DistributeType"
                  value="seg.jUCMNav.DistributeCentersHorizontally">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.DistributeCommand"
               icon="icons/DistributeVertically.ico"
               id="Distribute Vertically"
               label="%DistributeVertically"
               style="push">
            <parameter
                  name="seg.jUCMNav.DistributeType"
                  value="seg.jUCMNav.DistributeVertically">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.DistributeCommand"
               icon="icons/DistributeHorizontally.ico"
               id="Distribute Horizontally"
               label="%DistributeHorizontally"
               style="push">
            <parameter
                  name="seg.jUCMNav.DistributeType"
                  value="seg.jUCMNav.DistributeHorizontally">
            </parameter>
         </command>
         <command
               commandId="seg.jUCMNav.DistributeCommand"
               id="Distribute Custom"
               label="%DistributeCustom"
               style="push">
            <parameter
                  name="seg.jUCMNav.DistributeType"
                  value="seg.jUCMNav.DistributeCustom">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="seg.jUCMNav.AlignPullDownCommand"
            name="AlignPulldown">
      </command>
      <command
            id="seg.jUCMNav.AlignCommand"
            name="%Align">
         <commandParameter
               id="seg.jUCMNav.AlignType"
               name="AlignType"
               optional="true"
               values="seg.jUCMNav.model.commands.parameters.AlignTypeCommandParameter">
         </commandParameter>
      </command>
      <command
            id="seg.jUCMNav.DistributeCommand"
            name="%Distribute">
         <commandParameter
               id="seg.jUCMNav.DistributeType"
               name="Distribute Type"
               optional="true"
               values="seg.jUCMNav.model.commands.parameters.DistributeTypeCommandParameter">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="seg.jUCMNav.model.commands.handlers.AlignPulldownCommandHandler"
            commandId="seg.jUCMNav.AlignPulldownCommand">
         <enabledWhen>
            <with
                  variable="seg.jUCMNav.selectionState">
               <equals
                     value="valid">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="seg.jUCMNav.model.commands.handlers.AlignCommandHandler"
            commandId="seg.jUCMNav.AlignCommand">
         <enabledWhen>
            <with
                  variable="seg.jUCMNav.selectionState">
               <equals
                     value="valid">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="seg.jUCMNav.model.commands.handlers.DistributeCommandHandler"
            commandId="seg.jUCMNav.DistributeCommand">
         <enabledWhen>
            <with
                  variable="seg.jUCMNav.selectionState">
               <equals
                     value="valid">
               </equals>
               <and>
                  <with
                        variable="seg.jUCMNav.enoughSelected">
                     <equals
                           value="greaterThan2">
                     </equals>
                  </with>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="seg.jUCMNav.sourceProviders.AlignStateSourceProvider">
         <variable
               name="seg.jUCMNav.selectionState"
               priorityLevel="workbench">
         </variable>
         <variable
               name="seg.jUCMNav.AlignSelectionType"
               priorityLevel="workbench">
         </variable>
         <variable
               name="seg.jUCMNav.enoughSelected"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
