<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head></head>
<body bgcolor="white">
Views / wizards / perspectives

<h2>Package Specification</h2>

<p>
This package (and subpackages) contains all the views, wizards and perspective related code for jUCMNav. One exception: the palette is managed by the actual editors and is located in the seg.jUCMNav.editors.palette package. 

</p>
<h2>Related Documentation</h2>
For overviews, tutorials, examples, guides, and tool documentation, please see:
@see seg.jUCMNav.editors.palette
</body>
</html>
