<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head></head>
<body bgcolor="white">
XYLayout EditPolicies used by seg.jUCMNav.editparts

<h2>Package Specification</h2>

<p>
EditPolicies are GEF specific; we recommend you read some GEF documentation before playing with these classes. See DevDocEditPolicies to learn more about them. 
</p>

<p>
XYLayout EditPolicies are used by to add elements to the map using the palette and drag&drop of PathNodes on NodeConnections or other PathNodes. Furthermore, the XYLayoutEditPolicy used by the MapAndPathGraphEditPart manages moving and resizing of PathNodes and other elements. 
</p>

<p>
All of the classes in this package are very important and define jUCMNav's behaviour. 
</p>
<h2>Related Documentation</h2>
For overviews, tutorials, examples, guides, and tool documentation, please see:
@see seg.jUCMNav.editparts

</body>
</html>
