<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head></head>
<body bgcolor="white">
Drag &amp; drop from the outline to the editor. 


<h2>Package Specification</h2>

<p>
Drag &amp; drop functionality to be used from any GEF-based view (such as the outline) to the graphical editor. Drag&Drop from palette to editor is handled in seg.jUCMNav.editors.UrnEditor.
</p>
<h2>Related Documentation</h2>
For overviews, tutorials, examples, guides, and tool documentation, please see:
@see seg.jUCMNav.editors.UrnEditor

</body>
</html>
