<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head></head>
<body bgcolor="white">
Wizard for Managing Concerns

<h2>Package Specification</h2>
<p>
This package contains the wizard for managing concerns. For a detailed description of the approach taken
for managing concerns see first seg.jUCMNav.views.wizards.concerns.ConcernsManagerPage and then the headers
of each other class.
</p>

<h2>Related Documentation</h2>
For overviews, tutorials, examples, guides, and tool documentation, please see:
</body>
</html>
